export DB_CONNECTION_STRING="postgresql://user:password@localhost:5432/mydatabase"

export BACKEND_HOST="localhost"
export BACKEND_PORT="3001"
export BACKEND_URL="http://${BACKEND_HOST}:${BACKEND_PORT}"

export FRONTEND_HOST="localhost"
export FRONTEND_PORT="3000"
export FRONTEND_URL="http://${FRONTEND_HOST}:${FRONTEND_PORT}"
