export DATABASE_URL="postgresql://neondb_owner:npg_9reIl6MdhVFo@ep-rapid-mountain-abc461s5-pooler.eu-west-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
export API_KEY="a730ed7ca6a7c1c32536db7f6079ee730343600f00b735242422dbc3694a3011"
export FRONTEND_ORIGIN="http://localhost:5174"
export LOG_LEVEL="debug"